# use meld by running 'git difftool <COMMIT_HASH/BRANCH_NAME> file_name'
[diff]
    tool = meld
[difftool]
    prompt = false
[filter "jupyter_clear_output"]
    clean = "jupyter nbconvert --stdin --stdout --log-level=ERROR \
             --to notebook --ClearOutputPreprocessor.enabled=True"
    required = true
